{:paths ["src"]
 :deps {
        io.github.kotoba-lang/string-join
        {:git/url "https://github.com/kotoba-lang/string-join.git"
         :git/sha "d3e00bf9047a81534f73052b509851bcd751d94e"}
        io.github.kotoba-lang/string-pad
        {:git/url "https://github.com/kotoba-lang/string-pad.git"
         :git/sha "659f290b3f44bdb38aa0c0c0b87e9ea891771050"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
